body {
    margin: 0;
    font-family: "Lato";
    overflow-x: hidden;
  }
  video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .logo img{
    width: 80px;
    height: 80px;
  }
  .main {
    width: 100%;
    height: 100vh;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    position: absolute;
  }
  .logo{
    display: flex;
    gap: 5px;
    justify-content: center;
    
  }
  h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
  }
  
  .nav {
    width: 50%;
    display: flex;
    text-decoration: none;
    gap: 30px;
    font-size: 17px;
    font-weight: 700;
    justify-content: end;
    padding-right: 70px;
    list-style: none;
    margin-top: 40px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    border-bottom: 2.5px solid rgb(5, 139, 223);
    padding-bottom: 10px;
  }
  .main h1 {
    color: white;
    font-size: 50px;
    width: 70%;
    margin-left: 7%;
    letter-spacing: 4px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .call-btn {
    color: white;
    background-image:linear-gradient(#13b6fc,#000);
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 20px 70px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  @media screen and (min-width:450px) and (max-width: 1000px) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 5px;
     
    }
    .nav{
      justify-content: center;
      align-content: center;
      width: 100%;
      margin: auto;

    }
  
    .main h1 {
      font-size: 35px;
      text-align: center;
      width: 100%;
      margin: auto;
    }
    .main p {
      font-size: 20px;
      margin:auto;
      text-align: center;
      width: 100%;
      
    }
    .call-btn {
        margin:auto;
    }
  }

  @media screen and (max-width:450px){
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 5px;
       
      }
      .nav{
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: auto;
        font-size: 15px;
  
      }
      .main{
        text-align: center;
      }
    
      .main h1 {
        font-size: 28px;
        text-align: center;
        width: 100%;
        letter-spacing: normal;
        
      }
      .main p {
        font-size: 18px;
        text-align: center;
        width: 100%;
        
      }  
      .call-btn{
        padding: 10px 20px; 
        font-size: 12px;
        left: 20%;
      }
    
  }